{
  "source": {
    "container_metrics_table": "<catalog.schema.container_metrics>",
    "channel_metrics_table": "<catalog.schema.channel_metrics>",
    "channels_table": "<catalog.schema.channels>"
  },
  "unity_sink": {
    "catalog": "<destination_catalog>",
    "schema": "<destination_schema>",
    "table_prefix": "{{.report_name}}_report"
  },
  "units_under_test": [
    {
      "uut_name": {
        "col_name": "vehicle_key",
        "value": "<vehicle_id>"
      },
      "start_ts": {
        "col_name": "start_dt",
        "value": "<start_date>"
      }
    }
  ],
  "query_engine": {
    "solver": "BasicNarrowSolver",
    "data_type": "RLE",
    "drop_implausible_data": false
  },
  "measurement_dimensions": [
    "container_id",
    "vehicle_key",
    "start_ts",
    "stop_ts"
  ]
}
