resources:
  jobs:
    {{.report_name}}:
      name: {{.report_name}}
      tasks:
        - task_key: pre_processing
          libraries:
            - whl: ../lib/mda_framework_v2-*.whl
          notebook_task:
            notebook_path: ../src/preprocessing/01_status_pre-processing.ipynb
            base_parameters:
              config_path: "../config/${bundle.target}_config.json"
        - task_key: Vehicle_Config_Available
          depends_on:
            - task_key: pre_processing
          condition_task:
            op: EQUAL_TO
            left: {{print "\"{{tasks.pre_processing.values.vehicle_cfg_available}}\""}}
            right: "True"
        - task_key: report_orchestration
          depends_on:
            - task_key: Vehicle_Config_Available
              outcome: "true"
          libraries:
            - whl: ../lib/mda_framework_v2-*.whl
          notebook_task:
            notebook_path: ../src/03_orchestrator.ipynb
            base_parameters:
              config_path: "./config/${bundle.target}_config.json"
      permissions:
        - level: CAN_MANAGE
          group_name: ${var.manage_group}
      parameters:
        - name: reset_report
          default: false
        - name: status_table_name
          default: "status"
