resources:
  jobs:
    {{.report_name}}:
      name: {{.report_name}}
      tasks:
        - task_key: report_generation
          environment_key: impulse
          notebook_task:
            notebook_path: ../src/report.py
            base_parameters:
              config_path: "./config/${bundle.target}_config.json"
      environments:
        - environment_key: impulse
          spec:
            client: "5"
            dependencies:
              - ../lib/{{.wheel_filename}}
      permissions:
        - level: CAN_MANAGE
          group_name: ${var.manage_group}
      parameters:
        - name: reset_report
          default: false
