trigger:
  branches:
    include:
      - main
  paths:
    include:
      - nameda/{{.report_name}}/**

pr:
  branches:
    include:
      - main
  paths:
    include:
      - nameda/{{.report_name}}/**

stages:
  - stage: stg
    displayName: "Deploy and run integration tests in Staging"
    condition: in(variables['Build.Reason'], 'PullRequest', 'Manual')
    variables:
      - group: <stg_variable_group>
    jobs:
      - job: Deploy
        displayName: "Deploy to Staging and run tests"
        pool:
          vmImage: ubuntu-latest
        steps:
          - script: |
              curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh
            displayName: "Install Databricks CLI"

          - script: |
              databricks bundle deploy --target stg
            displayName: "Deploy to Staging"
            workingDirectory: "nameda/{{.report_name}}"
            env:
              DATABRICKS_CLIENT_ID: $(DATABRICKS_CLIENT_ID)
              DATABRICKS_CLIENT_SECRET: $(DATABRICKS_CLIENT_SECRET)

          - script: |
              databricks bundle run {{.report_name}}_integration_tests --target stg
            displayName: "Run integration tests (Staging)"
            workingDirectory: "nameda/{{.report_name}}"
            env:
              DATABRICKS_CLIENT_ID: $(DATABRICKS_CLIENT_ID)
              DATABRICKS_CLIENT_SECRET: $(DATABRICKS_CLIENT_SECRET)

  - stage: prd
    displayName: "Deploy to Production"
    condition: and(
      eq(variables['Build.Reason'], 'IndividualCI'),
      eq(variables['Build.SourceBranch'], 'refs/heads/main')
      )
    variables:
      - group: <prd_variable_group>
    jobs:
      - job: Deploy
        displayName: "Deploy Databricks bundle (Prod)"
        pool:
          vmImage: ubuntu-latest
        steps:
          - script: |
              curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh
            displayName: "Install Databricks CLI"

          - script: |
              databricks bundle deploy --target prd
            displayName: "Run Databricks bundle deploy (Prod)"
            workingDirectory: "nameda/{{.report_name}}"
            env:
              DATABRICKS_CLIENT_ID: $(DATABRICKS_CLIENT_ID)
              DATABRICKS_CLIENT_SECRET: $(DATABRICKS_CLIENT_SECRET)